* {
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
 position: fixed;
 z-index: 10;
 left: 0;
 right: 0;
 top: 0;
 height: 90px;
 background-color: rgb(71, 128, 148);   
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: azure;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    list-style: none;
}

nav ul li a:hover {
    opacity: .5;
}

nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

#nav__toggle {
    position: absolute;
    top: -100px;
}

nav .icon {
    position: absolute;
    right: 5%;
    top: 50%;
    display: none;
    transform: translateY(-50%);
}

nav .icon .line {
    width: 30px;
    height: 5px;
    background-color:white ;
    margin: 4px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}


@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom : 100%; 
        flex-direction: column;
        width: auto;
        height: auto;
        background-color: black;
        justify-content: space-evenly;
        box-sizing: border-box;
        overflow: hidden;
        transition: all .5s  ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
    nav :checked ~ .links {
		bottom: 0;
	}

    nav .icon {
        display: block;
    }
    nav :checked ~ .icon .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon .line:nth-child(2) {
        opacity: 0;
    } 
}
/*-------------------------------*/
.form__p {
    width: 340px;
    height: 440px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative
}

.form__p h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c
}

.form__p input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

.form__p input:focus {
    border-bottom: 2px solid #78788c
}

.form__p p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a
}

.form__p button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s
}

.form__p button:hover {
    background: #78788c;
    color: #fff
}

.form__p div {
    content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000
}

.ph {
    margin: 0 5px 0 15px
}

/*------------------------------------------*/

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: black;
    color: #fff;
}
.main--content {
    display: flex;
}

.main--content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.225rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
}
.left .content .social {
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 20px 0;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    border-radius: 6px;
}
.left .content .social a span:hover{
    background: rgb(71, 148, 148);
}