* {
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
 position: fixed;
 z-index: 10;
 left: 0;
 right: 0;
 top: 0;
 height: 90px;
 background-color: rgb(71, 128, 148);   
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: azure;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    list-style: none;
}

nav ul li a:hover {
    opacity: .5;
}

nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

#nav__toggle {
    position: absolute;
    top: -100px;
}

nav .icon {
    position: absolute;
    right: 5%;
    top: 50%;
    display: none;
    transform: translateY(-50%);
}

nav .icon .line {
    width: 30px;
    height: 5px;
    background-color:white ;
    margin: 4px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}
/*-------------*/
.hero {
    width: 90%;
}

.hero .row {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin: auto;
}

.hero .row .left--sec {
    width: 30%;
    margin-top: 90px;
    margin-left: 40px;
}

.hero .row .left--sec h2{
    font-size: 75px;
    color: rgb(8, 8, 8);
    text-transform: capitalize;
}

.hero .row .left--sec h2 span {
    color: rgba(71, 127, 148, 0.911);
}

.hero .row .left--sec .discover--button {
    display:flex;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 4px;
    align-self: cen ter;
    padding: 10px 25px;
    border: 2px solid;
    margin-top: 10px;
    background-color: rgb(71, 128, 148);
    box-shadow: white;
}

.content--b p {
    font-size: 16px;
    color:black;
}

.hero .row .left--sec .discover--button a{
    font-size: 20px;
    color: #fff;
    align-items: center;
    letter-spacing: 2px;
    margin-right: 15px;
}

.hero .information {
    width: 80%;
    display: flex;
    margin-top: 90px;
}

.hero .information .production {
    margin-right: 50px;
    line-height: 2px;
}

.hero .information .production h2{
    font-size: 18px;
    padding-top: 16px;
    letter-spacing: 1px;
}

.hero .information .production p{
    padding-right: 0;
    letter-spacing: 2px;
}

.hero .right-sec {
    width: 60px;
    padding-top: 100px;
}

.hero {
    background-image: url(imgs/3.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    background-size: cover;
    height: 720px;
    align-content: center;
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;
}
/*-------------------------------------------------------*/
.offersSection{
    width: 1140px;
    margin: auto;
    margin-top: 80px;
  }
  .offersSection h1{
    font-size: 40px;
    font-weight: 300;
    margin: auto 10px;
  }
  .offersSection ul{
    list-style: none;
    padding: 0;
    width: 100%;
    display: inline-block;
  }
  
  figure{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    float: left;
    width: 360px;
    height: 250px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px -3px rgba(0,0,0,0.55);
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 5px;
  }

  figure:hover{
    transition: all 0.3s ease;
  }
  figcaption{
    position: absolute;
    top: 150px;
    height: 100px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease; 
  }
  figcaption h4{
    margin: 5px 10px 0px;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #333;
  }
  figcaption .subtitle{
    margin: 0px 10px 15px;
    font-weight: 400;
    color: #666;
  }
  figcaption .offerClaim{
    margin: 4px 10px 0px;
    float: left;
    font-size:14px;
    font-style: italic;
    font-weight: 600;
    color: #198cfb;
  }
  figcaption .content{
    font-weight: 400;
    font-size: 14px;
    color: #333;
    margin: 0 10px;
    text-align: justify;
  }
  figcaption .offerPrice{
    width: 95%;
    text-align: right;
    color: #333;
    font-weight: 600;
    font-size: 21px;
    padding:0;
    margin: 0 0 10px 0;
  }
  figcaption .expandedClaim{
    font-size: 16px;
    font-weight: 600;
    color: indianRed;
    text-align: center;
    margin: 7px 10px;
  }
  figure:hover figcaption{
    top: 0;
    height: 250px;
    background-color: #e8ecfb;
    transition: all 0.3s ease;
  }

/*------faqqqq-------------------------------------*/

/*-------------------------------------------*/

section {
    margin: 0 auto;
    text-align: center;
  }
  
  h3 {
    font-weight: 600;
    color: #333;
    font-size: 1.825rem;
    margin: 1.3rem 0;
  }

.section-lead {
    max-width: 600px;
    margin: 1rem auto 1.5rem;
  }
  
  .service a {
    color: #5b7abb;
    display: block;
  }
  
  .service h4 {
    font-weight: 600;
    color: #56ceba;
    font-size: 1.3rem;
    margin: 1rem 0 0.6rem;
  }
  
  .services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .service {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #e7e7e7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .service:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  }
  
  .service i {
    font-size: 3.45rem;
    margin: 1rem 0;
  }
  
  .service1 i,
  .service1 h4,
  .service1 .cta {
    color: #42b7ca;
  }
  
  .service1:hover {
    border: 2px solid #42b7ca;
  }
  
  .service2 i,
  .service2 h4,
  .service2 .cta {
    color: #425fca;
  }
  
  .service2:hover {
    border: 2px solid #425fca;
  }
  
  .service3 i,
  .service3 h4,
  .service3 .cta {
    color: #9c42ca;
  }
  
  .service3:hover {
    border: 2px solid #9c42ca;
  }
  
  .service .cta span {
    font-size: 0.6rem;
  }
  
  .service > * {
    flex: 1 1 100%;
  }
  
  .service .cta {
    align-self: flex-end;
  }
  
  @media all and (max-width:900px) {
    .services-grid {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
    }
  }
/*-------------------------------------------*/
footer {
    bottom: 0px;
    width: 100%;
    background: black;
    color: #fff;
}
.main--content {
    display: flex;
}

.main--content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.225rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
}
.left .content .social {
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 20px 0;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    border-radius: 6px;
}
.left .content .social a span:hover{
    background: rgb(71, 148, 148);
}
/*-------------------------------------------*/
/*-------------------------------------------*/

@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom : 100%; 
        flex-direction: column;
        width: auto;
        height: auto;
        background-color: black;
        justify-content: space-evenly;
        box-sizing: border-box;
        overflow: hidden;
        transition: all .5s  ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
    nav :checked ~ .links {
		bottom: 0;
	}

    nav .icon {
        display: block;
    }
    nav :checked ~ .icon .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon .line:nth-child(2) {
        opacity: 0;
    } 
}