* {
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
 position: fixed;
 z-index: 10;
 left: 0;
 right: 0;
 top: 0;
 height: 90px;
 background-color: rgb(71, 128, 148);   
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: azure;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    list-style: none;
}

nav ul li a:hover {
    opacity: .5;
}

nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

#nav__toggle {
    position: absolute;
    top: -100px;
}

nav .icon {
    position: absolute;
    right: 5%;
    top: 50%;
    display: none;
    transform: translateY(-50%);
}

nav .icon .line {
    width: 30px;
    height: 5px;
    background-color:white ;
    margin: 4px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}
/*-------------*/
.hero {
    width: 90%;
}

.hero .row {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin: auto;
}

.hero .row .left--sec {
    width: 30%;
    margin-top: 90px;
    margin-left: 40px;
}

.hero .row .left--sec h2{
    font-size: 75px;
    color: rgb(8, 8, 8);
    text-transform: capitalize;
}

.hero .row .left--sec h2 span {
    color: rgba(71, 127, 148, 0.911);
}

.hero .row .left--sec .discover--button {
    display:flex;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 4px;
    align-self: center;
    padding: 10px 25px;
    border: 2px solid;
    margin-top: 10px;
    background-color: rgb(71, 128, 148);
    box-shadow: white;
}

.content--b p {
    font-size: 16px;
    color:black;
}

.hero .row .left--sec .discover--button a{
    font-size: 20px;
    color: #fff;
    align-items: center;
    letter-spacing: 2px;
    margin-right: 15px;
}

.hero .information {
    width: 80%;
    display: flex;
    margin-top: 90px;
}

.hero .information .production {
    margin-right: 50px;
    line-height: 2px;
}

.hero .information .production h2{
    font-size: 18px;
    padding-top: 16px;
    letter-spacing: 1px;
}

.hero .information .production p{
    padding-right: 0;
    letter-spacing: 2px;
}

.hero .right-sec {
    width: 60px;
    padding-top: 100px;
}

.hero {
    background-image: url(imgs/3.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    background-size: cover;
    height: 680px;
    align-content: center;
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;
}

/*-------------------------------------------*/
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: black;
    color: #fff;
}
.main--content {
    display: flex;
}

.main--content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.225rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
}
.left .content .social {
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 20px 0;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    border-radius: 6px;
}
.left .content .social a span:hover{
    background: rgb(71, 148, 148);
}
/*-------------------------------------------*/
/*-------------------------------------------*/

@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom : 100%; 
        flex-direction: column;
        width: auto;
        height: auto;
        background-color: black;
        justify-content: space-evenly;
        box-sizing: border-box;
        overflow: hidden;
        transition: all .5s  ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
    nav :checked ~ .links {
		bottom: 0;
	}

    nav .icon {
        display: block;
    }
    nav :checked ~ .icon .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon .line:nth-child(2) {
        opacity: 0;
    } 
}