
.banner-main {
    background-image: url('../images/img.jpg');
    background-repeat: no-repeat;
    width: 100%;
    /* background-size: contain; */
    background-size: cover;
    height: 1080px;
    align-content: center;
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;
}

.display--container {
  background-image: url('../images/img.jpg');
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  height: 73vh;
  display: flex;
  padding-top: 60px;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.display--container .display--title {
  font-size: 51px;
  color: #fff;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

}

.display--desc {
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    text-align: center;
}
.display--desc {
   margin-top: 0;
   box-sizing: border-box;
}

.display--desc .display--search {
    position: absolute;
    /* right: 0; */
    top: 53%;
    transform: translateY(-47%);
    bottom: auto;
    text-align: left;
    padding: 0;
}

.display--search {
  margin-top: 3%;
}

form.display--search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #fff;
  float: left;
  width: 80%;
  margin: 0 auto;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

form.display--search button {
  float: left;
  width: 20%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
  color: black;
  font-size: 17px;
  border: 1px solid #fff;
  border-left: none;
  cursor: pointer;
}

form.display--search::after {
  content: "";
  clear: both;
  display: table;
}

form.display--search button:hover {
    background: black;
    color: #fff;
    border: 1px solid black;
  }

.title {
    font-size: 37px;
    text-decoration: underline;
    text-align: center;
    font: bold;
    margin-top: 2%;
    padding: 30px;
}
      
.QST {
    display: flex;
    width: 100%;

    margin-top: 63px;

}

.slide {

    display: inline-block;
    background-image: url('../images/first.jpg');
    background-size: cover;
    width: 50%;
    height: 65vh;

}

.R {

    display: inline-block;
    width: 50%;
    text-align: center;
    color: black;
    padding: 60px;
    height: 65vh;
    overflow: auto;
}

.R p {

    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
}

.btn_btn{
    padding: 10px 78px;
    margin-left: -3px;
    align-self: center;
    border: #0e0c0c solid 1px;
    background: #0e0c0c;
    color: #fff;
    margin-left: 45%;
    margin-top: 2%;
}

.bott:hover {
  background-color: white;
  color: black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid rgb(0, 0, 0); 
  }

.crd_btn{
    padding: 10px 46px;
    border: #0e0c0c solid 1px;
    background: #0e0c0c;
    color: #fff;
}

.crd_btn:hover {
  background-color: white;
  color:rgb(0, 0, 0);
}

.column {
    float: left;
    width: 33%;
    padding: 0 10px;
  }
.row1 {
  margin: 0 -5px;
  
}


.row1:after {
    content: "";
    display: table;
    clear: both;
}
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .card1 {
    padding: 16px;
    text-align: center;
  }
  .card_para{
     font-size: 16px;
      padding: 16px;
  }


